
.aside .logo a::before{
    border-left: 4px solid #f0a500;
    border-top: 4px solid #f0a500;
}


.aside .logo a::after{
    border-right: 4px solid #f0a500;
    border-bottom: 4px solid #f0a500;
}
.aside .nav li a:hover,
.aside .nav li a.active{
    color: #f0a500;
    text-shadow: 0 0 20px rgba(201, 174, 115, 0.24);
}
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a{
    background-color: #f0a500;
}